<div class="country-parent">
    <section *ngIf="(country$ | async) as country">
        <button (click)="back()" mat-button>
      <mat-icon>arrow_back</mat-icon>&nbsp;Back
    </button>
        <div *ngIf="country; else noCountry" class="country-details">
            <img [src]="country.flags.svg" width="200" height="200" />
            <section>
                <span><strong>Name</strong>&nbsp;{{country.name | titlecase}}</span>
                <span><strong>Currency</strong>&nbsp; {{country.currencies?.[0]?.name ?? "N/A"}}</span>
                <span><strong>Capital</strong>&nbsp;{{country?.capital ?? "N/A"}}</span>
                <span><strong>Languages</strong>&nbsp; {{getLanguages(country) ?? "N/A"}}</span>
            </section>
        </div>
    </section>
</div>

<ng-template #noCountry>
    <p>No Country selected. Please go back</p>
</ng-template>
