<main class="main">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin-bottom: 16px;" *ngIf="(visitedCountries$ | async) as visitedCountries">
        <button style="margin-right: 8px; padding: 8px" class="select" (click)="selectCountry(visitedCountry)" *ngFor="let visitedCountry of visitedCountries" mat-button>
      {{visitedCountry}}
    </button>
    </div>
    <section class="section">
        <mat-form-field appearance="fill">
            <mat-label>Search countries</mat-label>
            <mat-icon aria-label="lens icon" matPrefix>search</mat-icon>
            <input #searchInput type="search" matInput placeholder="Search countries">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Filter by region</mat-label>
            <mat-select (selectionChange)="filterByRegion($event.value)">
                <mat-option *ngFor="let region of regions" [value]="region">
                    {{region | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    <div *ngIf="(countries$ | async) as countries" class="row-list">
        <mat-card (click)="selectCountry(country.name)" class="select" *ngFor="let country of countries">
            <img width="150" height="150" [src]="country.flags.svg" alt="Flag of {{country.name}}">
            <mat-card-content>
                <div class="country-content">
                    <span><strong>{{country.name}}</strong></span>
                    <span><strong>Population:</strong>&nbsp;{{country.population}}</span>
                    <span><strong>Capital:</strong>&nbsp;{{country.capital}}</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</main>