.main {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
}

.country-content {
    display: flex;
    flex-direction: column;
}

.select {
    cursor: pointer;
}

.visited-countries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 16px;
    button {
        margin-right: 8px;
        padding: 8px;
    }
}